<!DOCTYPE html>

    <head>
        <title>BookDetail</title>
        
    </head>
    <body>
        <h1>
           This is Books detail page
        </h1>
        <table>
            <thead>
                <tr>
                <th>
                    Title
               </th>
                <th>
                    Author
                </th>
                <th>
                    Summary
                </th>
                <th>
                    Published_Date
                </th>
            </tr>

            </thead>
            <tbody>
                
                <tr>
                    <td>{{ books.Title }}</td>
                    <td>{{ books.Author.Name }}</td>
                    <td>{{ books.Summary }}</td>
                    <td>{{ books.Published_date }}</td>

                </tr>
               
            </tbody>
            
        </table>
       

    </body>

</html>